nav {
  .container {
    height: 80px;
  }
  .nav-logo {
    background-image: url(../images/DOYOGA-logo.png);
    @include background-type;
    @include size(96px, 31px);
    background-size: contain;
  }
  .nav-menu {
    @include medium {
      display: none !important;
    }
    a {
      position: relative;
      // display: block;
      &:hover {
        font-weight: bolder; /*滑到a連結，字體加粗*/
      }
      /*製作滑到a連結後，出現底線的動畫*/
      &:after {
        content: '';
        position: absolute;
        left: 50%; /*由50%的地方往0呈現*/
        right: 50%; /*由50%的地方往0呈現*/
        bottom: 15px;
        height: 0;
        border-bottom: 2px solid $primary;
        transition: 0.5s; /*0.5秒內動畫呈現完畢*/
      }
      &:hover:after {
        left: 0; /*由50%的地方往0呈現*/
        right: 0; /*由50%的地方往0呈現*/
      }
    }
  }
  .nav-btn {
    @include medium {
      display: none !important;
    }
    a {
      color: $primary;
      border: 0.5px solid $primary;
      border-radius: 16px;
      &:hover {
        background-color: $primary;
        color: $success;
      }
    }
  }
  .showMenu {
    display: none;
    @include medium {
      display: block;
    }
  }
}
/* PAD以下，menu選單 */
.nav-md-menu {
  display: none;
  background-color: $secondary;
  @include medium {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1.5s;
    position: absolute;
    z-index: 100;
    border: 1px solid $success;
    // 讓border線重疊
    top: 79px;
    left: 0;
    right: 0;
  }
  a {
    @include medium {
      display: block;
      text-align: center;
      border: 1px solid $success;
      &:hover {
        color: $light !important;
        background-color: $warning;
      }
    }
  }
}
/* PAD以下，顯示menu選單 */
.menu-show .nav-md-menu {
  @include medium {
    height: auto;
    max-height: 600px;
  }
}
