.feel-list {
  img {
    @include size(100%, 420px);
    @include medium {
      @include size(100%, 252px);
    }
    @include small {
      @include size(100%, 420px);
    }
    object-fit: cover;
  }
}

.teachers {
  .img-top {
    @include size(100%, 628px);
    object-fit: cover;
  }
  li {
    img {
      @include small {
        @include size(48px, 48px);
      }
    }
  }
}

.space {
  .img-top {
    img {
      @include size(100%, 444px);
      @include large {
        @include size(100%, 266px);
      }
      object-fit: cover;
    }
  }
  .img-secondary {
    img {
      @include size(100%, 207px);
      @include large {
        @include size(100%, 117px);
      }
      object-fit: cover;
      &:last-child {
        margin-top: 30px;
      }
    }
  }
  .img-top,
  .img-secondary {
    img {
      @include small {
        @include size(100%, 210px);
      }
    }
  }
}
.course {
  .swiper-wrapper {
    img {
      @include size(100%, 445px);
      object-fit: cover;
    }
  }
  .course-list {
    img {
      @include size(100%, 150px);
      object-fit: cover;
      @include small {
        @include size(100%, 165px);
      }
    }
  }
}
.plan {
  .card-img-top {
    @include size(100%, 297px);
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    @include large {
      @include size(100%, 238px);
      border-radius: 16px 0 0 16px;
    }
    @include small {
      @include size(100%, 297px);
      border-radius: 16px 16px 0 0;
    }
  }
}
.feedback {
  .feekback-list-icon {
    color: $primary;
  }
}
