.swiper-button-next {
  background: url("../images/east_black_36dp.svg") center center no-repeat;
}
.swiper-button-prev {
  background: url("../images/west_black_36dp.svg") center center no-repeat;
}
.swiper-button-next,
.swiper-button-prev {
  top: 90%;
  color: transparent !important;
}
